<style>
  .custom-btn {
    background-color: #ADD8E6; /* Light blue */
    border-color: #ADD8E6;
    margin-bottom: 10px; /* Adjust the margin as needed */
  }

  .custom-btn:hover {
    background-color: #007BFF; /* Darker blue on hover */
    border-color: #007BFF;
  }
</style>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fa fa-users" aria-hidden="true"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/login" class="btn btn-secondary btn-block custom-btn">Login</a>
      <a href="/users/register" class="btn btn-primary btn-block custom-btn">Register</a>
    </div>
  </div>
</div>
